@charset "utf-8";

  .custom-logo{
    height: 60px;  
  }

  .lead{
    text-indent: 50px;
	padding-left: 40px;
	margin: 30px;
  }
  .center{
	text-align: center;  
  }

  p {
    text-align: justify;
  }

  body {
    background-image: linear-gradient(whitesmoke 80%, black 99%);
  }
  a{
	  text-decoration: none;
  }
  .container {
    /* background-color: gray; */
  }

 .radius{
	 border-radius: 200px;
	 border: 5px dotted black;
 }
 .bblue{
	 background-color: rgb(105,105,105);
 }
 img#ft{
	 max-width: 50%;
 }
 .cblue{
	 background-color: rgb(54,54,54);/*rgba(135,206,235,.3);*/
 }
 .dblue{
	 background-color: rgb(25, 25, 25); /*linear-gradient(blue, darkblue);*/
 }
 .sombra{
	 box-shadow: 0px 2px 2px gray;
 }
 .tim{
	 font-size: 18pt;
 }
 .bblue:hover{
	 background-color: gray;
 }
 li{
	 text-align: center;
	 width: 140px;
	 padding: 0px 10px;
	 transition: all .3s linear;
 }
 li:hover{
	/*background-color: rgba(255,255,255,.4);*/
	background-color: rgba(255,255,255,.3);
	border-radius: 10px 0px;

 }